body {
  width: 100%;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Segoe UI, Tahoma, Arial, sans-serif;
}


@import "variable/variable";
@import "channels/channels";
@import "channels/__item/channels__item";
@import "channels/__link/channels__link";
@import "channels/__list/channels__list";
@import "channels/__mini-team/channels__mini-team";
@import "channels/__team-name/channels__team-name";
@import "channels/__wrapper/channels__wrapper";
@import "channels/__hover/channels__hover";
@import "channels/_active/channels_active";
@import "chat/chat";
@import "chat/__area/chat__area";
@import "chat/__body/chat__body";
@import "chat/__channel-name/chat__channel-name";
@import "chat/__form/chat__form";
@import "chat/__form-wrapper/chat__form-wrapper";
@import "chat/__head/chat__head";
@import "chat/__icon/chat__icon";
@import "chat/__icon/_right/chat__icon_right";
@import "chat/__icon/_lg/chat__icon_lg";
@import "chat/__icon/_plus/chat__icon_plus";
@import "chat/__input/chat__input";
@import "chat/__message/chat__message";
@import "chat/__status/chat__status";
@import "chat/__textarea/chat__textarea";
@import "chat/__text/chat__text";
@import "chat/__thumb/chat__thumb";
@import "chat/__time/chat__time";
@import "chat/__username/chat__username";
@import "chat/__wrapper/chat__wrapper";
@import "container/container";
@import "dropdown/dropdown";
@import "dropdown/__content/dropdown__content";
@import "dropdown/__list/dropdown__list";
@import "dropdown/_center/dropdown_center";
@import "dropdown/_divider/dropdown_divider";
@import "dropdown/__thumb/dropdown__thumb";
@import "dropdown/__user/dropdown__user";
@import "dropdown/__wrapper/dropdown__wrapper";
@import "dropdown/__name/dropdown__name";
@import "icon/icon";
@import "icon/_arrow-down/icon_arrow-down";
@import "icon/_option-vertical/icon_option-vertical";
@import "icon/_plus/icon_plus";
@import "icon/_plus-circle/icon_plus-circle";
@import "icon/_right/icon_right";
@import "icon/_star/icon_star";
@import "icon/_user/icon_user";
@import "opt-overlay/opt-overlay";
@import "opt-overlay/__first/opt-overlay__first";
@import "opt-overlay/__second/opt-overlay__second";
@import "opt-overlay/__link/opt-overlay__link";
@import "opt-overlay/__text/opt-overlay__text";
@import "opt-overlay/__wrapper/opt-overlay__wrapper";
@import "opt-overlay/_right/opt-overlay_right";
@import "opt-overlay/_bottom/opt-overlay_bottom";
@import "opt-overlay/_show/opt-overlay_show";
@import "team/team";
@import "team/__item/team__item";
@import "team/__link/team__link";
@import "team/__list/team__list";
@import "team/__thumb/team__thumb";
@import "team/__wrapper/team__wrapper";
