@import "src/sass/variable/variable";

.team {
  height: 100%;
  width: 7%;
  background-color: $bg-color2;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
