.channels__team-name {
<<<<<<< HEAD
  color: #FFF; }
=======
  color: #FFF;
  margin-top: 22px;
  margin-left: 0; }
  .channels__team-name :hover {
    color: #FFF; }
>>>>>>> 2bf7b72709b4c70a6617173374784f909038d5e6
