$color: #AB9A9B;
$color2: #FFF;
$color-active: #4C9689;
$color-divider: #E9E4E4;
$color-name: #A0A0A2;
$box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
$bg-color: #4D394B;
$bg-color2: darken($bg-color, 20%);
$bg-color3: rgba(0, 0, 0, 0.2);
