- var currentUrl
- var titleIOS = "IOS"
- var titleHRD = "HRD"
- var titleDevOps = "DevOps"
- var titleDesign = "Design"
- var titleAndroid = "Android"
- var titlePHP = "PHP"
- var titleDesignElmo = "DesignElmo"
