extends layout

block config
	- var webTitle = 'DesignElmo'
block title
	title= webTitle
block team-list
	+team-item('ios.html','https://api.adorable.io/avatars/72/team-icon','Kalasan')
	+team-item('devops.html','https://api.adorable.io/avatars/285/team-icon2', 'Baciro')
	+team-item('php.html','https://api.adorable.io/avatars/285/team-icon3', 'Elmo')

	block dropdown-team
		#dropdown__id.dropdown__content
			+dropdown-team('#', 'https://api.adorable.io/avatars/72/team-icon', 'Elmo','Elmo','@klanjabrik')
			+dropdown-content('#','Profil & Account')
			+dropdown-content('#','Preferences')
			.dropdown_divider
			+dropdown-content('#','Preferences')

block mixin-tim
	+tim('Elmo','Klanjabrik')

block channels-item
	+channel-item('php.html', 'PHP', 'PHP')
	+channel-item('designelmo.html', 'DesignElmo', 'DesignElmo')

block chat-area
	+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:13 AM', 'Hai apa kabar semua?')
	+chat-message('Bro', 'https://api.adorable.io/avatars/60/oke.png', '#', '11:13 AM', 'Baik Alhamdulillah')
	+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:15 AM', 'Lancar yah projectnya?')
	+chat-message('Bre', 'https://api.adorable.io/avatars/60/lancar.png', '#', '11:14 AM', 'Lancar jaya pak')
	+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:13 AM', 'Hai apa kabar semua?')
	+chat-message('Bro', 'https://api.adorable.io/avatars/60/oke.png', '#', '11:13 AM', 'Baik Alhamdulillah')
	+chat-message('Kljabrik ', 'https://api.adorable.io/avatars/60/bro.png', '#', '11:15 AM', 'Lancar yah projectnya?')
	+chat-message('Bre', 'https://api.adorable.io/avatars/60/lancar.png', '#', '11:14 AM', 'Lancar jaya pak')
