.team {
  height: 100%;
<<<<<<< HEAD
  width: 8%;
  background-color: #0d090c; }
=======
  width: 7%;
  background-color: #120e12;
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }
>>>>>>> 2bf7b72709b4c70a6617173374784f909038d5e6
