.channels__mini-team {
<<<<<<< HEAD
  color: #AB9A9B; }
=======
  color: #AB9A9B;
  margin-left: 40px;
  margin-top: 5px;
  margin-left: 0;
  font-size: 0.7em; }
>>>>>>> 2bf7b72709b4c70a6617173374784f909038d5e6
